<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://tdd312.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tdd312.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tdd312</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tdd312</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="tdd-db" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:sy1cm5ib6y.database.windows.net,1433;Initial Catalog=tdd-db;Integrated Security=False;User ID=dleblond@sy1cm5ib6y;Password=M1cr0s0ft;Connect Timeout=30;Encrypt=True" Name="Server=tcp:sy1cm5ib6y.database.windows.net,1433;Database=tdd-db;User ID=dleblond@sy1cm5ib6y;Password=M1cr0s0ft;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tdd.Models.AuthContext, Tdd" MigrationConfiguration="Tdd.Migrations.Configuration, Tdd" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tdd-db-Web.config Connection String">
      <ParameterValue>Server=tcp:sy1cm5ib6y.database.windows.net,1433;Database=tdd-db;User ID=dleblond@sy1cm5ib6y;Password=M1cr0s0ft;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>