<div class="game-area">
    <div class="player-info p-{{$index}}" ng-repeat="player in gameRoom.players | limitTo:2 track by $index">
        {{player.id}}
    </div>
    <div class="player-info p-1" ng-if="gameRoom.players.length < 2">
        Single player mode
    </div>
    
    <div  class="player-actions" player-actions="0" style="left:0;"></div>
    <canvas id="map-background"></canvas>
    <div ng-repeat="mob in gameRound.mobs track by $index">
        <div game-area-mob="mob"></div>
    </div>
    <div ng-repeat="tower in gameRoom.towers track by $index">
        <div game-tower="tower"></div>
    </div>
    <div ng-repeat="projectile in gameRound.projectiles track by $index">
        <div game-area-projectile="projectile"></div>
    </div>
    <div class="selected-action" ng-style="{'background-color': selectedStyles.color, 'position': 'absolute', 'top': selectedStyles.y, 'left': selectedStyles.x, 'width': selectedStyles.width, 'height': selectedStyles.height}" ng-cloak>

    </div>
    <div class="player-actions" player-actions="1" style="right:0;" ng-if="gameRoom.players.length > 1"></div>
</div>