<div class="game-area"  ng-click="performAction($event)">
    <canvas id="map-background" ng-mousemove="updateMouseMove($event)"></canvas>
    <div ng-repeat="mob in gameRound.mobs track by $index">
        <div game-area-mob="mob"></div>
    </div>
    <div ng-repeat="tower in gameRoom.towers track by $index">
        <div game-tower="tower"></div>
    </div>
    <div ng-repeat="projectile in gameRound.projectiles track by $index">
        <div game-area-projectile="projectile"></div>
    </div>
    <div class="selected-action" ng-style="{'background-color': selectedStyles.color, 'position': 'absolute', 'top': selectedStyles.y, 'left': selectedStyles.x, 'width': selectedStyles.width, 'height': selectedStyles.height}" ng-cloak>

    </div>
</div>