@projectileRatio: 12px;

html, body {
    height: 100%;
}

body {
    background-color: #333333;
    margin: 0 !important;
    padding: 0 !important;
}


.game-area {
    position: relative;

    canvas {
        background-image: url('Images/gameBoardBackground.png');
        background-size: cover;
        background-repeat:no-repeat;
        display: inline-block;
        z-index: 0;
    }

    .mob {
        background: red;
        color: green;
        position: absolute;
        z-index: 2;

        .health-bar {
            position: relative;
            top: -15px;
            float: left;
            width: 150px;
        }
    }

    .projectile {
        background-image: url('Images/basicProjectile.gif');
        background-size: @projectileRatio @projectileRatio;
        z-index: 3;
        position: absolute;
        width: @projectileRatio;
        height: @projectileRatio;
    }

    .tower {
        z-index: 1;
        background-image: url('Images/basicTower1.png');
    }
     
}

.player-actions {
    position: absolute;
    height: 100%;
    top: 0;


    &:nth-child(2n) {
        right: 0;
    }

    .player-action {
        cursor: pointer;
        background-color: teal;
        border-radius: 50%;
        text-align: center;
        font-size: 26px;
    }
}

.distribute-circular {
    .circle-node {
        border-radius: 50%;
    }
}

.modal-dialog {
    padding: 0;
    width: auto;
    left: initial;
    right: initial;
    
}

.tower-select-modal {
    position: relative;
    font-size: 20px;
}

/*.command-card {
    @command-card-border-color: blue;
    @command-card-border: thin solid @command-card-border-color;

    height: 250px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 900;

    div {
        display: inline-block;
    }

    .mini-map, .command-details, .command-actions {
        border: @command-card-border;
        height: 100%;
        width: 30%;
        position: absolute;
        left: 0;
    }

    .mini-map {
        #mini-map-canvas {
            width: 100%;
            height: 100%;
        }
    }

    .command-details {
        left: 30%;
    }

    .command-actions {
        width: 40%;
        left: 60%;
    }
}

.chat-area {
    .chat-messages {
        width: 100%;
        z-index: 90;

    }
    .chat-input {
        width: 100%;
        z-index: 99;
        position: absolute;
        bottom: 0;
    }
}*/