body {

}


.game-area {
    background: grey;
    width: 1000px;
    height: 1000px;
    position: relative;

    .mob {
        background: green;
        color: red;
        z-index: 999;
        position: absolute;
        width: 30px;
        height: 30px;
    }
}