body {
  padding-top: 70px;
  background-color: #333333;
}
.game-area {
  margin-bottom: 250px;
  position: relative;
  height: 1000px;
}
.game-area canvas {
  background-image: url('Images/gameBoardBackground.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.game-area .mob {
  background: red;
  color: green;
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
}
.game-area .mob .health-bar {
  position: relative;
  top: -15px;
  float: left;
  width: 150px;
}
.game-area .projectile {
  background-image: url('Images/basicProjectile.gif');
  background-size: 12px 12px;
  z-index: 3;
  position: absolute;
  width: 12px;
  height: 12px;
}
.game-area .tower {
  z-index: 1;
  background-image: url('Images/basicTower1.png');
  background-size: 24px 24px;
}
.command-card {
  height: 250px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 900;
}
.command-card div {
  display: inline-block;
}
.command-card .mini-map,
.command-card .command-details,
.command-card .command-actions {
  border: thin solid blue;
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
}
.command-card .mini-map #mini-map-canvas {
  width: 100%;
  height: 100%;
}
.command-card .command-details {
  left: 30%;
}
.command-card .command-actions {
  width: 40%;
  left: 60%;
}
.chat-area .chat-messages {
  width: 100%;
  z-index: 90;
}
.chat-area .chat-input {
  width: 100%;
  z-index: 99;
  position: absolute;
  bottom: 0;
}